
<article>
    <section>
        <h1>About this app</h1>
        <p>This app is an AngularJS starter aimed at helping starting a project or learning.</p>
        <p>It is structured in the <b>component-based</b> manner and provides the basic <b>routing with UI-Router</b>. It uses directives for main components and a service factory for delivering the main data. And also, it goes into details with an accute sens of explained <b>good practices</b>.</p>
        <p>It also contains <b>HTML5 semantic tags</b> and appropriate <b>CSS3 styling</b>.</p>
    </section>
    <section>
        <h3>The source code</h3>
        <p>See or download the complete source from <a href="https://github.com/vpcom/AngularJS-complete-starter" >vpcom/AngularJS-complete-starter GitHub account</a>.</p>
    <section>
        <h3>Good practices</h3>
        <p>
            This app is a lot about good practices, see what is in place:
            <ul>
                <li>A component based structure to make components self contained in their folder. The routes or states are defined in each module and they also contain their specific CSS.</li>
                <li>The Immediately Invoked Function Expression (IIFE) syntax in all JavaScript files to separate each script.</li>
                <li>JavaScript strict mode to help having clean code.</li>
                <li>Named function to help the debugging.</li>
                <li>The use of vm (view's model) variable to catch the context of this.</li>
                <li>The ControllerAs syntax for avoiding using the $scope directly.</li>
                <li>The dependency injection made separately for allowing non destructive minification and for improved readability.</li>
                <li>There is a separate app.module.js file to create the main module and inject dependencies.</li>
                <li>And just in case, ng-cloack is used to avoid the display of uncompiled elements at first display.</li>
            </ul>
        </p>
    </section>
</article>
