
#navbar {
    border: 1px solid #333;
    border-right: 0px;
    border-left: 0px;
    margin: 10px 0;
}

#navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden; /* To get rid of what is outside the box and to make it full width */
}

#navbar li {
    float: left; /* To make elements to be next to each other */
    text-align: center;
}

#navbar ul li a {
    display: block;
    width: 100px;
    color: white;
    padding: 10px 0;
}

#navbar ul li a:link,
#navbar ul li a:visited {
    text-decoration: none;
}

#navbar ul li a:hover,
#navbar ul li a:active,
#navbar ul li a.active {
    background-color: #222;
}
